@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-white text-stone-900;
}
.dark {
  @apply bg-stone-950 text-stone-300;
}

@layer base {
  /* Customize your global styles here */

  .border {
    @apply border-stone-200 dark:border-stone-800 border-[1px];
  }
  .flexcenter {
    @apply flex items-center justify-center;
  }
  .sticky-nav {
    position: sticky;
    z-index: 999;
    top: 0;
    backdrop-filter: saturate(200%) blur(20px);
    transition: background-color 0.1 ease-in-out;
  }
}
